@charset "UTF-8";
/* CSS Document */

a {
	text-decoration: none;
}
body {
}
.wrapper {
	position: relative;
	width: 100%;
	background-image: url("../img/bg_snow.svg");
	background-position: center;
	background-size: cover;
}
.wrapper:before {
	content: "";
	display: block;
	padding-top: 67%;
}
.brightControl {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.2);
}
.header {
	position: relative;
	display: block;
	width: 45%;
	height: auto;
	margin: 5% auto;
}
.header:before {
	content: "";
	display: block;
	padding-top: 25%
}
.header svg {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	top: 0%;
	left: 0%;
	opacity: 0.53;
}
#wdwTitleLine path.cls-1 {
	stroke: none;
}

.WorkMenu {
	position: relative;
}

.honeyComb {
	position: absolute;
	display: none;
	width: 13%;
	background-image: url(../img/honeyComb.svg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.65;
	margin: 6% 40%;
}
.honeyComb:before {
	content: "";
	display: block;
	padding-top: 83%;
}
.honeyComb h1 {
	position: absolute;
	display: block;
	width: 100%;
	top: 35%;
	font-family: 'Itim', cursive;
	text-align: center;
	opacity: 0.7;
}
.honeyComb h1:hover {
	opacity: 0.95;
	cursor: pointer;
}
.honeyComb h2 {
	position: absolute;
	display: block;
	width: 100%;
	top: 18%;
	font-family: 'Itim', cursive;
	text-align: center;
	opacity: 1;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 7px #000000;
}
.honeyComb h2:hover {
	opacity: 0.95;
	cursor: pointer;
}
.honeyComb h3 {
	position: absolute;
	display: block;
	width: 100%;
	top: 77%;
	font-family: 'Itim', cursive;
	text-align: center;
	color: dimgrey;
	opacity: 0.53;
}
.honeyComb p {
	position: absolute;
	display: block;
	width: 90%;
	top: 66%;
	left: 5%;
	font-family: 'Itim', cursive;
	text-align: center;
	word-wrap: normal;
	opacity: 0.8;
	line-height: 1.8ex;
}
.basicSkill {
	position: absolute;
	display: block;
	width: 60%;
	top: 48%;
	left: 20%;
	opacity: 0.8;
}
.basicSkill ul {
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.basicSkill ul li img {
	width: 100%;
	vertical-align: top;
}
.basicSkill li {
	margin-left: 2%;
}
.basicSkill li:first-child {
	margin-left: 0;
}
.honeyComb7 {
	opacity: 1.0
}
.honeyComb6 {
	opacity: 0.96
}
.honeyComb5 {
	opacity: 0.92
}
.honeyComb4 {
	opacity: 0.88
}
.honeyComb3 {
	opacity: 0.84
}
.honeyComb2 {
	opacity: 0.80
}
.honeyComb1 {
	opacity: 0.76
}
